{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Movies{% endblock %}

{% block content %}

	<a href="{{ url('app_movie_new') }}" class="btn">New movie</a>

	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Release date</th>
			<th>Description</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for movie in movies %}
			<tr>
				<td>{{ movie.name }}</td>
				<td>{{ movie.releaseDate|date('d.m.Y') }}</td>
				<td>{{ movie.description }}</td>
				<td>
					<a href="{{ url('app_movie_edit', { movieId: movie.id }) }}">edit</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}